body {
  font-family: Arial;
  background: #fafafa;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

label {
  display: block;
  margin-top: 12px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 18px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
